// Override Bootstrap variables
$primary: #1b2e4b;
$secondary: #515365;
$success: #1abc9c;
$info: #3498db;
$warning: #f1c40f;
$danger: #e74c3c;

// Custom variables
$header-height: 60px;
$sidebar-width: 240px;
$sidebar-mini-width: 70px;

// Font
$font-family-sans-serif: 'Quicksand', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 0.875rem;
$font-weight-semibold: 600;

// Border radius
$border-radius: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.2rem;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// Shadow
$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);