@import '../../../styles/variables';

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  margin-top: calc(#{$header-height} + 10px);
  margin-left: $sidebar-width;
  min-height: calc(100vh - #{$header-height} - 10px);
  background: #f1f2f3;
  padding: 12px;
  transition: all 0.3s ease;

  &.sidebar-collapsed {
    margin-left: $sidebar-mini-width;
  }
}